html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

button {
  height: 2em;
  margin: 5px;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow: auto;
}

#log {
  -webkit-box-flex: 1;
  overflow: auto;
}

#log,
#manageLog,
#input {
  display: block;
}
